services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: posse 
    volumes:
      - .:/app
    command: poetry run gunicorn -c src/ghost/gunicorn_config.py ghost.ghost:app
    stdin_open: true
    tty: true

  test:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: posse-test
    volumes:
      - .:/app
    command: poetry run pytest
    profiles:
      - test
